<div class="column">
  <h2 mat-dialog-title>{{'login.title'|translate}}</h2>
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">



      <mat-error *ngIf="isLoginFailed">

        <p>{{'login.form.no_login'|translate}} </p>

      </mat-error>
      <div>
        <mat-form-field class="full-width-input">

          <input matInput placeholder="{{'login.form.user'|translate}}" formControlName="username" required>

          <mat-error>

            Please provide a valid username

          </mat-error>

        </mat-form-field>

      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" placeholder="{{'login.form.password'|translate}}" formControlName="password" required>
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-hint >{{'login.form.enter_password'|translate}}</mat-hint>
        </mat-form-field>


      </div>


      <button [disabled]="!form.valid"  mat-raised-button color="primary">{{'login.form.button'|translate}}</button>

    </form>

  </mat-dialog-content>
  <mat-dialog-actions align="end">

    <!--  <button mat-button mat-dialog-close>Cancel</button>-->
    <!--  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
    <!--  <button [disabled]="!form.valid"  mat-raised-button color="primary">{{'login.form.button'|translate}}</button>-->
  </mat-dialog-actions>







</div>

