<div fxLayout fxLayoutAlign="center center" *ngIf="dataSource.data?.length > 0">
  <div>
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
<!--    <p> Ukupno procijenjena:  {{ ukupnoProcijenjena }}</p>-->
<!--    <p> Ukupno ponudjena:  {{ ukupnaPonudjena }}</p>-->
    <button mat-raised-button
            (click)="exporter.exportTable('xlsx', {fileName:'test', sheet: 'sheet_name', Props: {Author: 'Talha'}})">
      Excel
    </button>
    <!--    <button mat-raised-button (click)="exporter.exportTable('txt')">Txt</button>-->
  </div>
  <div class="example-container mat-elevation-z8">
    <table mat-table matTableExporter [dataSource]="dataSource" matSort matSortStart="desc"
           (matSortChange)="customSort($event)" #exporter="matTableExporter">
      <ng-container matColumnDef="partija">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Partija</th>
        <td mat-cell *matCellDef="let element"> {{element.partija}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="atc">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Atc</th>
        <td mat-cell *matCellDef="let element"> {{element.atc}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="nazivProizvoda">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv</th>
        <td mat-cell *matCellDef="let element"> {{element.nazivProizvoda}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="zasticeniNaziv">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Zasticeni</th>
        <td mat-cell *matCellDef="let element"> {{element.zasticeniNaziv}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="proizvodjac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proizvodjac</th>
        <td mat-cell *matCellDef="let element"> {{element.proizvodjac}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="farmaceutskiOblik">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Oblik</th>
        <td mat-cell *matCellDef="let element"> {{element.farmaceutskiOblik}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="pakovanje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Pakovanje</th>
        <td mat-cell *matCellDef="let element"> {{element.pakovanje}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="trazenaKolicina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Trazena Kol.</th>
        <td mat-cell *matCellDef="let element"> {{element.trazenaKolicina}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <ng-container matColumnDef="ponudjanaKolicina">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ponudjana Kol.</th>
        <td mat-cell *matCellDef="let element"> {{element.ponudjanaKolicina}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="procijenjenaJedinicnaCijena">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proc.Jed.Cijena</th>
        <td mat-cell *matCellDef="let element"> {{element.procijenjenaJedinicnaCijena}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="ponudjenaJedinicnaCijena">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Ponudjena Jed.Cijena</th>
        <td mat-cell *matCellDef="let element"> {{element.ponudjenaJedinicnaCijena}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
      <!-- Cost Column -->
      <ng-container matColumnDef="ponudjenaUkupnaCijena">
        <th mat-header-cell *matHeaderCellDef> UkupnaCijena</th>
        <td mat-cell *matCellDef="let transaction"> {{transaction.ponudjenaUkupnaCijena }} </td>
        <td mat-footer-cell *matFooterCellDef>{{ ukupnaPonudjena }}</td>
      </ng-container>
      <ng-container matColumnDef="procijenjenaUkupnaCijena">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Proc. Ukupna</th>
        <td mat-cell *matCellDef="let element"> {{element.procijenjenaUkupnaCijena}} </td>
        <td mat-footer-cell *matFooterCellDef>{{ ukupnoProcijenjena }}</td>
      </ng-container>
      <ng-container matColumnDef="rokIsporuke">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok Isporuke</th>
        <td mat-cell *matCellDef="let element"> {{element.rokIsporuke}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="ponudjac">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjac</th>
        <td mat-cell *matCellDef="let element"> {{element.ponudjac}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="brojTendera">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tender br.</th>
        <td mat-cell *matCellDef="let element"> {{element.brojTendera}} </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

<!--      <ng-container matColumnDef="dodaj">-->
<!--        <th mat-header-cell *matHeaderCellDef>-->
<!--          <button mat-icon-button color="primary">-->
<!--            <mat-icon aria-label="Example icon-button with a heart icon" (click)="addNew()">add</mat-icon>-->
<!--          </button>-->
<!--        </th>-->
<!--        <td mat-cell *matCellDef="let element"></td>-->
<!--        <td mat-footer-cell *matFooterCellDef></td>-->
<!--      </ng-container>-->
<!--      <ng-container matColumnDef="delete sve">-->
<!--        <th mat-header-cell *matHeaderCellDef>-->
<!--          <button mat-icon-button color="primary">-->
<!--            <mat-icon aria-label="Example icon-button with a heart icon" (click)="deleteSelected()">delete</mat-icon>-->
<!--          </button>-->
<!--        </th>-->
<!--        <td mat-cell *matCellDef="let element"></td>-->
<!--        <td mat-footer-cell *matFooterCellDef></td>-->
<!--      </ng-container>-->



      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef><button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="addNew()"></mat-icon>
        </button></th>
        <td mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.partija,row.atc,row.nazivProizvoda, row.zasticeniNaziv,row.proizvodjac
        ,row.jedinicaMjere,row.trazenaKolicina,row.ponudjanaKolicina,row.procijenjenaJedinicnaCijena,
        row.procijenjenaJedinicnaCijena, row.procijenjenaUkupnaCijena, row.ponudjenaUkupnaCijena, row.rokIsporuke, row.ponudjac,row.brojTendera)">
            <mat-icon class="mat-18"></mat-icon>
          </button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef><button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="deleteSelected()"></mat-icon>
        </button></th>
        <td mat-cell *matCellDef="let row; let i=index;">
          <button mat-icon-button color="warn">
            <mat-icon class="mat-18" (click)="deleteItem(i, row.id)"></mat-icon>
          </button>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="selected">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row; let i=index;">
          <section class="example-section">
            <mat-checkbox class="example-margin" (click)="updateSelected(row.id)"></mat-checkbox>

          </section>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>
