<!--<div fxLayout fxLayoutAlign="center center">-->
<!--  <mat-form-field fxFlex="40%">-->
<!--    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Filter">-->
<!--  </mat-form-field>-->
<!--</div>-->
<button mat-raised-button
        (click)="exporter.exportTable('xlsx', {fileName:'Prvorangirani', sheet: 'prvorangiranie', Props: {Author: 'Talha'}})">
  Excel
</button>
<button mat-raised-button (click)="exportTableHvale()">PDF</button>

<table mat-table matTableExporter [dataSource]="dataSource" matSort matSortStart="desc"
       (matSortChange)="customSort($event)" #exporter="matTableExporter">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="partija">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Partija</th>
    <td mat-cell *matCellDef="let element"> {{element.partija}} </td>
  </ng-container>

  <ng-container matColumnDef="atc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Atc</th>
    <td mat-cell *matCellDef="let element"> {{element.atc}} </td>
  </ng-container>
  <ng-container matColumnDef="nazivProizvoda">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv</th>
    <td mat-cell *matCellDef="let element"> {{element.nazivProizvoda}} </td>
  </ng-container>
  <ng-container matColumnDef="farmaceutskiOblik">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmaceutski Oblik</th>
    <td mat-cell *matCellDef="let element"> {{element.farmaceutskiOblik}} </td>
  </ng-container>

  <ng-container matColumnDef="pakovanje">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pakovanje</th>
    <td mat-cell *matCellDef="let element"> {{element.pakovanje}} </td>
  </ng-container>

  <ng-container matColumnDef="trazena_kolicina">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trazena kolicina</th>
    <td mat-cell *matCellDef="let element"> {{element.trazena_kolicina}} </td>
  </ng-container>

  <ng-container matColumnDef="procijenjenaJedinicnaCijena">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProcijenjenaJed.Cijena</th>
    <td mat-cell *matCellDef="let element"> {{element.procijenjenaJedinicnaCijena}} </td>
  </ng-container>

  <ng-container matColumnDef="procijenjenaUkupnaCijena">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProcijenjenaUkupnaCijena</th>
    <td mat-cell *matCellDef="let element"> {{element.procijenjenaUkupnaCijena}} </td>
  </ng-container>
  <ng-container matColumnDef="brojTendera">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tender br.</th>
    <td mat-cell *matCellDef="let element"> {{element.brojTendera}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="2" [pageSizeOptions]="[2, 4, 6, 10, 20]">
</mat-paginator>

