<div  *ngIf="dataSource.data?.length > 0" >
  <div>

    <button mat-raised-button
            (click)="exporter.exportTable('xlsx', {fileName:'Ponude', sheet: 'sheet_name', Props: {Author: 'Talha'}})">

      <img src="../../../assets/icons/icons8-microsoft-excel-48.png"/></button>
    <button mat-raised-button (click)="exportTableBodovanje()">

      <img src="../../../assets/icons/icons8-pdf-48.png"/>
    </button>


<table mat-table id="ExampleTable" matTableExporter [dataSource]="dataSource" matSort matSortStart="desc"
       (matSortChange)="customSort($event)" #exporter="matTableExporter">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="partija">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Partija</th>
    <td mat-cell *matCellDef="let element"> {{element.partija}} </td>
  </ng-container>

  <ng-container matColumnDef="atc">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Atc</th>
    <td mat-cell *matCellDef="let element"> {{element.atc}} </td>
  </ng-container>
  <ng-container matColumnDef="naziv_proizvoda">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv</th>
    <td mat-cell *matCellDef="let element"> {{element.naziv_proizvoda}} </td>
  </ng-container>
  <ng-container matColumnDef="farmaceutski_oblik">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Farmaceutski Oblik</th>
    <td mat-cell *matCellDef="let element"> {{element.farmaceutski_oblik}} </td>
  </ng-container>

  <ng-container matColumnDef="pakovanje">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Pakovanje</th>
    <td mat-cell *matCellDef="let element"> {{element.pakovanje}} </td>
  </ng-container>

  <ng-container matColumnDef="trazena_kolicina">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Trazena kolicina</th>
    <td mat-cell *matCellDef="let element"> {{element.trazena_kolicina}} </td>
  </ng-container>

  <ng-container matColumnDef="procijenjena_jedinicna_cijena">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProcijenjenaJed.Cijena</th>
    <td mat-cell *matCellDef="let element"> {{element.procijenjena_jedinicna_cijena}} </td>
  </ng-container>

  <ng-container matColumnDef="procijenjena_ukupna_cijena">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> ProcijenjenaUkupnaCijena</th>
    <td mat-cell *matCellDef="let element"> {{element.procijenjena_ukupna_cijena}} </td>
  </ng-container>
  <ng-container matColumnDef="broj_tendera">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tender br.</th>
    <td mat-cell *matCellDef="let element"> {{element.broj_tendera}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSize]="2" [pageSizeOptions]="[ 10, 20]">
</mat-paginator>
</div>
