

<mat-dialog-content class="mat-typography">


  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h2>Registracija</h2>

    <!-- <mat-error *ngIf="!isLoginFailed">

      The username and password were not recognised

    </mat-error> -->

    <mat-form-field class="full-width-input">

      <label>
        <input matInput placeholder="Korisnin" formControlName="username" required>
      </label>

      <mat-error>

        Please provide a valid username

      </mat-error>

    </mat-form-field>


    <mat-form-field class="full-width-input">

      <input matInput placeholder="Email" formControlName="email" required>

      <mat-error>

        Please provide a valid email address

      </mat-error>

    </mat-form-field>




    <mat-form-field class="full-width-input">

      <input matInput type="password" placeholder="Sifra" formControlName="password" required>



    </mat-form-field>

    <button [disabled]="!form.valid" type="submit"  mat-raised-button mat-dialog-close color="primary">Registruj se</button>

  </form>


</mat-dialog-content>

<mat-dialog-actions align="end">
  <!--  <button [disabled]="!form.valid" type="submit"  mat-button mat-dialog-close color="primary">{{'register.register'|translate}}</button>-->
  <!--    <button mat-button mat-dialog-close>Cancel</button>-->
  <!--    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>-->
  <!--    <button [disabled]="!form.valid"  mat-raised-button color="primary">{{'login.form.button'|translate}}</button>-->
</mat-dialog-actions>

