table {
  width: 100%;
}
.example-container .mat-form-field + .mat-form-field {
  margin-left: 25px;
}
.example-container{
  margin-left: 155px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between  ;
}
.user{
  margin-left: 1125px;
  margin-top: fill;
}
.username{
  float: right;
}
.example-form-field{
font-size: 15px;

}
.korisnik{
  font-size: 14px;
  margin: 1px;
  margin-top: auto;
  padding-left: 170px;
  
}
.mat-tab-label.first{
  min-width: 25px !important;
  padding: 5px;
  background-color: blue;
  color: red;
  font-weight: 700;
}
/* .mat-tab-label {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
} */

/* Styles for the active tab label */
/* .mat-tab-label.mat-tab-label-active {
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
} */

/* Styles for the ink bar */
.mat-ink-bar {
  background-color: green;
}
.mat-tab-label-active{
  background-color: red ;
  opacity: 1 !important;
}