.mat-paginator-sticky {
  bottom: 0px;
  position: sticky;
  z-index: 10;
}
p {
  font-family: Lato;
}
.position-fixed{
  position: fixed
}

.mat-spacer{
  flex: 1 1 auto;
}

.content {
  margin-top: 58px
}
