<div class="container">
  <h3 mat-dialog-title>Add new Issue</h3>

  <form class="mat-dialog-content" (ngSubmit)="submit" #formControl="ngForm">

    <!--Textarea for demo purposes-->
    <div class="form">

    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="partija" [(ngModel)]="data.partija" name="partija">
      </mat-form-field>
    </div>

    <!--Contains mat-hint for characters count and has maxLengt set-->
    <div class="form">
      <mat-form-field color="accent">
        <input matInput #inputstate class="form-control" placeholder="atc" [(ngModel)]="data.atc" name="atc"  >
<!--        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>-->
<!--        <mat-hint align="end">{{inputstate.value?.length || 0}}/10</mat-hint>-->
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="nazivProizvoda" [(ngModel)]="data.nazivProizvoda" name="nazivProizvoda">
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="zasticeniNaziv" [(ngModel)]="data.zasticeniNaziv" name="zasticeniNaziv">
      </mat-form-field>
    </div>
    <mat-form-field color="accent">
      <input matInput placeholder="proizvodjac" [(ngModel)]="data.proizvodjac" name="proizvodjac">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="farmaceutskiOblik" [(ngModel)]="data.farmaceutskiOblik" name="jedinicaMjere">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="pakovanje" [(ngModel)]="data.pakovanje" name="jedinicaMjere">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="trazenaKolicina" [(ngModel)]="data.trazenaKolicina" name="trazenaKolicina">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="ponudjanaKolicina" [(ngModel)]="data.ponudjanaKolicina" name="ponudjanaKolicina">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="procijenjenaJedinicnaCijena" [(ngModel)]="data.procijenjenaJedinicnaCijena" name="procijenjenaJedinicnaCijena">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="ponudjenaJedinicnaCijena" [(ngModel)]="data.ponudjenaJedinicnaCijena" name="ponudjenaJedinicnaCijena">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="procijenjenaUkupnaCijena" [(ngModel)]="data.procijenjenaUkupnaCijena" name="procijenjenaUkupnaCijena">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="ponudjenaUkupnaCijena" [(ngModel)]="data.ponudjenaUkupnaCijena" name="ponudjenaUkupnaCijena">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="rokIsporuke" [(ngModel)]="data.rokIsporuke" name="rokIsporuke">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="ponudjac" [(ngModel)]="data.ponudjac" name="ponudjac">
    </mat-form-field>
    <mat-form-field color="accent">
      <input matInput placeholder="brojTendera" [(ngModel)]="data.brojTendera" name="brojTendera">
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-raised-button color="primary" [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">Sacuvaj</button>
      <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Odlozi</button>
    </div>
  </form>
</div>

