<div class="div">
  <button mat-icon-button color="primary">
    <mat-icon aria-label="Example icon-button with a heart icon" (click)="addNew()">add</mat-icon>
    <span>Dodaj</span>
  </button>
</div>

<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="partija">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Partija</th>
      <td mat-cell *matCellDef="let element"> {{element.partija}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="atc">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Atc</th>
      <td mat-cell *matCellDef="let element"> {{element.atc}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="naziv_proizvoda">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Naziv</th>
      <td mat-cell *matCellDef="let element"> {{element.naziv_proizvoda}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="zasticeni_naziv">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Zaštićeni</th>
      <td mat-cell *matCellDef="let element"> {{element.zasticeni_naziv}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="proizvodjac">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Proizvodjač</th>
      <td mat-cell *matCellDef="let element"> {{element.proizvodjac}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="farmaceutski_oblik">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Oblik</th>
      <td mat-cell *matCellDef="let element"> {{element.farmaceutski_oblik}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="pakovanje">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pakovanje</th>
      <td mat-cell *matCellDef="let element"> {{element.pakovanje}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="trazena_kolicina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tr.Kol.</th>
      <td mat-cell *matCellDef="let element"> {{element.trazena_kolicina}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>


    <ng-container matColumnDef="ponudjana_kolicina">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pon.Kol.</th>
      <td mat-cell *matCellDef="let element"> {{element.ponudjana_kolicina}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="procijenjena_jedinicna_cijena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pr.Jed.Cijena</th>
      <td mat-cell *matCellDef="let element"> {{element.procijenjena_jedinicna_cijena}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="ponudjena_jedinicna_cijena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pon.Jed.Cijena</th>
      <td mat-cell *matCellDef="let element"> {{element.ponudjena_jedinicna_cijena}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Cost Column -->
    <ng-container matColumnDef="ponudjena_ukupna_cijena">
      <th mat-header-cell *matHeaderCellDef> Ukupna Cijena</th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.ponudjena_ukupna_cijena}} </td>
      <td mat-footer-cell *matFooterCellDef>{{ ukupnaPonudjena| number : '1.2-2' }}</td>
    </ng-container>
    <ng-container matColumnDef="procijenjena_ukupna_cijena">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Pr.Ukupna</th>
      <td mat-cell *matCellDef="let element"> {{element.procijenjena_ukupna_cijena| number }} </td>
      <td mat-footer-cell *matFooterCellDef>{{ ukupnoProcijenjena| number : '1.2-2' }}</td>
    </ng-container>
    <ng-container matColumnDef="rok_isporuke">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok Isporuke</th>
      <td mat-cell *matCellDef="let element"> {{element.rok_isporuke}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="ponudjac">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjač</th>
      <td mat-cell *matCellDef="let element"> {{element.ponudjac}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="broj_tendera">
      <th mat-header-cell [hidden]="!broj_tendera" *matHeaderCellDef mat-sort-header>Tender br.</th>
      <td mat-cell [hidden]="!broj_tendera" *matCellDef="let element"> {{element.broj_tendera}} </td>
      <td mat-footer-cell [hidden]="!broj_tendera" *matFooterCellDef></td>
    </ng-container>








    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">

        <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon"
            (click)="updateEdit(row.id, row.ime,row.ocjena,row.polozio)">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon" (click)="delete(row.id)">delete
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Nema zahtjeva "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>