<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="putUgovor()">
    <h2>Dodaj</h2>
    <div>
      <mat-form-field class="full-width-input">
        <label>
          <input matInput placeholder="broj ugovora" formControlName="broj_ugovora" required />
        </label>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="broj tendera" formControlName="broj_tendera" required />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="ponudjac" formControlName="ponudjac" required />
      </mat-form-field>
    </div>

    <button
      [disabled]="!form.valid"
      type="submit"
      mat-button
      mat-dialog-close
      color="primary"
    >
      Sacuvaj
    </button>
    <button mat-button color="warn" (click)="onNoClick()" tabindex="-1">
      Odlozi
    </button>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end"> </mat-dialog-actions>
  
