<mat-sidenav-container fullscreen>

<!--  <mat-sidenav #start >-->
<!--    <mat-nav-list >-->


<!--    </mat-nav-list>-->

<!--  </mat-sidenav>-->

  <mat-toolbar color="primary" routerLink="/tender/ponude">
    <button mat-icon-button >
      <mat-icon>home</mat-icon>
    </button>

<!--    <button mat-button routerLink="/tender/ponude"><mat-icon>library_books</mat-icon>-->
<!--    </button>-->
<!--    <span class = "filler"></span>-->



  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>

