<mat-sidenav-container fullscreen>

<!--  <mat-sidenav #start >-->
<!--    <mat-nav-list >-->


<!--    </mat-nav-list>-->

<!--  </mat-sidenav>-->

  <mat-toolbar color="primary">
<!--    <button mat-icon-button (click)="start.open('mouse')">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->


    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>
<!--    <button mat-button routerLink="/"><mat-icon>home</mat-icon></button>-->
    <span class = "filler"></span>



  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-sidenav-container>

